<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431800838142-imn6atg0c9640shii3h5uo5h31588mns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431800838142-imn6atg0c9640shii3h5uo5h31588mns</string>
	<key>API_KEY</key>
	<string>AIzaSyCP6uvAb8p3mdA7pgpQDJY_-Jmn2mGN8fo</string>
	<key>GCM_SENDER_ID</key>
	<string>431800838142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ufpe.academy.criatu2</string>
	<key>PROJECT_ID</key>
	<string>criavoce-b94a0</string>
	<key>STORAGE_BUCKET</key>
	<string>criavoce-b94a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431800838142:ios:6d99a2d8a6ca029f5182af</string>
	<key>DATABASE_URL</key>
	<string>https://criavoce-b94a0-default-rtdb.firebaseio.com</string>
</dict>
</plist>