<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334304275158-re400ib6pq49cq9r3spuilm8bl6vkr3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334304275158-re400ib6pq49cq9r3spuilm8bl6vkr3u</string>
	<key>API_KEY</key>
	<string>AIzaSyDWoouL8O-HhCbkq6Ao3CQEYRxBdSgNR8o</string>
	<key>GCM_SENDER_ID</key>
	<string>334304275158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ufpe.academy.criatu</string>
	<key>PROJECT_ID</key>
	<string>fir-criatu</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-criatu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334304275158:ios:ae5970e14fb4c1549a3777</string>
	<key>DATABASE_URL</key>
	<string>https://fir-criatu.firebaseio.com</string>
</dict>
</plist>